* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: #3a3b4c;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #ffffff;

    h1 {
        font-size: 32vh;
    }
}
